.venv/
.idea/
diit_contracts.db
registered.csv
pending.csv

complete_entity_summary_website.xlsx
complete_entity_principal_websites.xlsx
complete_entity_performance_website.xlsx
complete_entity_relatedentities_website.xlsx
complete_entity_othernames_website.xlsx

*.db
*.csv
*.xlsx

__pycache__/
*.pyc
*.pyo

.env
/figures
